.batch{
    display: flex;
    flex-direction: column;
}

.batch > a > button{
    background-color: green;
    color: white;
    border-radius: 5px;
    height: 30px;
    margin-left: 25%;
    margin-top: 20px;

}

.batch > .batch__form{
    border: 1px solid black;
    width: 500px;
    margin-top: 30px;
    margin-left: 25%;
    border-radius: 10px;
    
}

.batch > .batch__form > form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.batch > .batch__form > form > input{
    margin-bottom: 10px;
    height: 20px;
    border-radius: 5px;
}

.batch > .batch__form > form > div.css-2b097c-container{
    margin-bottom: 10px;
}

.batch > .batch__form > form > label{
    margin-bottom: 5px;
}

.batch > .batch__form > form > input.submit{
    background-color: green;
    color: white;
    height: 30px;
} 